<!doctype html>
<html lang="fr" data-bs-theme="dark">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='bootstrap-icons.min.css') }}">
  <title>{% block title %}{% endblock %} - cantonais.org</title>
  {% endblock %}
</head>

<body>
  <script src="{{ url_for('.static', filename='js/jquery-3.7.0.min.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/bootstrap.bundle.min.js') }}"></script>

  <!-- Header -->
  <nav class="navbar sticky-top navbar-expand-lg bg-danger" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="{{ request.root_url }}">
        <img src="{{ url_for('static', filename='img/icon.svg') }}" alt="Jyut Dictionary" width="50" height="50"
          class="d-inline-block align-text-mid">
        cantonais.org
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-uppercase" aria-current="page"
              href="{{ url_for('dictionary_app.index') }}">Dictionnaire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="#">Ressources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="#">À propos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Searchbar -->
  <form method="post">
    <div class="container-fluid bg-body-tertiary bg-dark">
      <div class="container">
        <div class="input-group d-none d-md-flex flex-nowrap py-4">
          <input name="search_term" class="form-control rounded-start w-100" type="text"
            placeholder="Rechercher dans le dictionnaire..." {% block search_term %}{% endblock %}>
          <select name="search_type" class="form-select flex-shrink-0" style="width: 20rem;">
            <option value="search_traditional" {% block search_type_traditional %}{% endblock %}>Caractères traditionnels</option>
            <option value="search_simplified" {% block search_type_simplified %}{% endblock %}>Caractères simplifiés</option>
            <option value="search_jyutping" {% block search_type_jyutping %}{% endblock %}>Jyutping</option>
            <option value="search_pinyin" {% block search_type_pinyin %}{% endblock %}>Pinyin</option>
            <option value="search_french" {% block search_type_french %}{% endblock %}>Français</option>
          </select>
          <button class="input-group-text btn btn-danger" type="submit">Rechercher</button>
        </div>
      </div>
    </div>
  </form>
  <form method="post">
    <div class="container-fluid bg-body-tertiary bg-dark">
      <div class="container">
        <div class="d-flex d-md-none flex-column py-4 gap-2">
          <div class="input-group flex">
            <input name="search_term_mobile" class="form-control rounded-start" type="text"
              placeholder="Rechercher dans le dictionnaire..."{% block search_term_mobile %}{% endblock %}>
            <button class="input-group-text btn btn-danger flex-shrink-0" type="submit"><i
                class="bi-search"></i></button>
          </div>
          <select name="search_type_mobile" class="form-select">
            <option value="search_traditional" {% block search_type_traditional_mobile %}{% endblock %}>Caractères traditionnels</option>
            <option value="search_simplified" {% block search_type_simplified_mobile %}{% endblock %}>Caractères simplifiés</option>
            <option value="search_jyutping" {% block search_type_jyutping_mobile %}{% endblock %}>Jyutping</option>
            <option value="search_pinyin" {% block search_type_pinyin_mobile %}{% endblock %}>Pinyin</option>
            <option value="search_french" {% block search_type_french_mobile %}{% endblock %}>Français</option>
          </select>
        </div>
      </div>
    </div>
  </form>

  <!-- Body -->
  <div class="container-fluid bg-body bg-dark">
    <div class="container py-4">
      <div id="content">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>

</html>