{% extends "dictionary.html" %}
{% block title %}{{ search_term }} - Recherche | {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="mx-auto py-2" style="max-width: 50rem">
        <div class="pb-1 fs-6 text-secondary">
            {% if not entries %}
            Il n'y a aucun résultat correspondant à la requête.
            {% elif entries|length > 1 %}
            Il y a {{ entries|length }} résultats correspondant à la requête.
            {% else %}
            Il y a {{ entries|length }} résultat correspondant à la requête.
            {% endif %}
        </div>
        <div class="list-group pt-1">
            {% if entries %}
            {% for entry in entries %}
            <a href="{{ url_for('dictionary_app.entry_view', entry=entry.traditional) }}"
                class="list-group-item list-group-item-action m-0 p-0">
                <div class="m-3">
                    <div class="fs-3 lh-sm">{{ entry._coloured_traditional|safe }} [{{
                        entry._coloured_simplified_difference|safe }}]</div>
                    <div>{{ entry.jyutping }} ({{ entry._pretty_pinyin }})</div>
                    <div>{{ entry.definitions_sets[0]._definitions_snippet.replace("\n", "<br>") }}</div>
                </div>
            </a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}