{% extends "base.html" %}
{% import "nav_bar.html" as nav_bar %}
{% block title %}About | {% endblock %}
{% block navbar %}
{{ nav_bar.navbar("about", true) }}
{% endblock %}
{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex py-1 flex-column flex-md-row justify-content-center align-items-center">
        <div class="py-5 ms-md-3 w-md-75 flex-grow-0">
            <h1 class="text-center pb-3 " style="text-wrap:balance">
                About
            </h1>
            <p>
                Jyut Dictionary is a project by Aaron Tan. All text on this website (excluding parts sourced from other
                locations, listed in the "Licences" section), is licenced under the <a
                    href="https://creativecommons.org/licenses/by-sa/4.0/">
                    Creative Commons Attribution-ShareAlike 4.0 International</a> licence. The code for this website is
                licenced under the <a href="https://github.com/aaronhktan/cantonais_org/blob/main/LICENCE.md">GNU Affero
                    General Public License v3.0</a>. This project is open-source, and the source code for this website
                can be viewed on Github <a href="https://github.com/aaronhktan/cantonais_org">at this link</a>.
            </p>
            <h2 class="text-center py-3" style="text-wrap:balance">
                Data Sources
            </h2>
            <p class="text-center" style="text-wrap:balance">
                <a href="https://www.mdbg.net/chinese/dictionary?page=cedict">CC-CEDICT</a> is released under the <a
                    href="https://creativecommons.org/licenses/by-sa/4.0/">
                    Creative Commons Attribution-ShareAlike 4.0 International</a> licence.
            </p>
            <p class="text-center" style="text-wrap:balance">
                <a href="https://cantonese.org/">CC-CANTO</a> is released under the <a
                    href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0
                    Unported</a> licence.
            </p>
            <p class="text-center" style="text-wrap:balance">
                <a href="https://words.hk">words.hk</a> data is released under the <a
                    href="https://words.hk/base/hoifong/">Non-Commercial Open Data License</a>.
            </p>
            <p class="text-center" style="text-wrap:balance">
                <a href="https://en.wiktionary.org">Wiktionary</a> data is released under the <a
                    href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0
                    International</a> licence.
            </p>
            <p class="text-center" style="text-wrap:balance">
                <a href="https://www.unicode.org/charts/unihan.html">Unicode and Unihan</a> data is Copyright ©
                1991-Present Unicode, Inc. Distributed under the Terms of Use in <a
                    href="https://www.unicode.org/copyright.html">Unicode
                    Copyright</a> and the <a href="https://www.unicode.org/license.txt">Unicode data license</a>.
            </p>
            <p class="text-center" style="text-wrap:balance">
                <a href="https://kaifangcidian.com/yue/">Kaifangcidian</a> data is distributed under the <a
                    href="https://creativecommons.org/licenses/by/3.0/deed.en">Creative Commons Attribution 3.0
                    Unported</a> lience.
            </p>
            <p class="text-center" style="text-wrap:balance">
                <a href="https://github.com/elkmovie/hsk30">HSK 3.0</a> data is distributed under the <a
                    href="https://github.com/elkmovie/hsk30/blob/main/LICENSE">MIT</a> licence.
            </p>
            <p class="text-center" style="text-wrap:balance">
                <a href="https://www.chinese-linguipedia.org/">兩岸三地</a> data is distributed under the <a
                    href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons CC-BY-NC-ND</a> licence.
            </p>
            <p class="text-center" style="text-wrap:balance">
                <a href="https://tatoeba.org">Tatoeba</a> data is released under the <a
                    href="https://creativecommons.org/licenses/by/2.0/fr/deed.fr">Creative Commons Paternité - 2.0</a>
                licence.
            </p>
        </div>
    </div>
</div>
{% endblock %}