{% macro navbar(sticky=true) -%}
<nav class="navbar sticky-top navbar-expand-lg bg-primary w-100" {% if sticky==false %}style="position:fixed;" {% endif
  %} data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="{{ request.root_url }}">
      <img src="{{ url_for('static', filename='img/icon.svg') }}" alt="Jyut Dictionary" width="24" height="24"
        class="d-inline-block align-text-top" style="color: transparent;" onload="this.style.color='unset'"
        onerror="this.style.color='unset'">
      cantonais.org
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Basculer la navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-uppercase" aria-current="page"
            href="{{ request.root_url }}">Dictionnaire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="{{ url_for('resources') }}">Ressources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="{{ url_for('download') }}">Télécharger</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="{{ url_for('about') }}">À propos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{%- endmacro %}