{% extends "base.html" %}
{% import "nav_bar.html" as nav_bar %}
{% block title %}Resources | {% endblock %}
{% block navbar %}
{{ nav_bar.navbar("resources", true) }}
{% endblock %}
{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex py-1 flex-column flex-md-row justify-content-center align-items-center">
        <div class="py-5 ms-md-3 w-md-75 flex-grow-0">
            <h1 class="text-center pb-3 " style="text-wrap:balance">
                Resources
            </h1>
            <h2 class="text-center py-3" style="text-wrap:balance">
                Learning Jyutping
            </h2>
            <p>
                This site uses Jyutping as the pronunciation guide for Cantonese. Like Pinyin for Mandarin, it is
                a romanization system. Jyutping was created in 1993 by the Linguistic Society of Hong Kong (LSHK).
                It's a useful tool to help improve your pronunciation and learn new characters!
            </p>
            <p>
                <a href="https://jyutping.org/en/">The official guide</a> provides an introduction to
                Jyutping.
            </p>
            <p>
                <a href="https://jyutping.org/en/jyutping/">The official site</a> also provides a table of all the
                sounds in Jyutping.
            </p>
            <h2 class="text-center py-3" style="text-wrap:balance">
                Using Jyutping to enter text
            </h2>
            <p>
                After learning Jyutping, you can use it as an input method for Chinese, instead of memorizing the
                shapes of Chinese characters.
            </p>
            <p>
                <a href="https://blog.cantoblog.com/2023/01/how-to-add-jyutpingyale-cantonese-input.html">
                    Follow this guide for iPhone.
                </a>
                <br>
                <a href="https://www.cantonese.tools/android.html">
                    Follow this guide for Android.
                </a>
                <br>
                <a href="https://www.cantonese.tools/mac.html">
                    Follow this guide for Mac.
                </a>
                <br>
                <a href="https://www.cantonese.tools/windows.html">
                    Follow this guide for Windows.
                </a>
            </p>
            <h2 class="text-center py-3" style="text-wrap:balance">
                Reference, dictionaries
            </h2>
            <p>
                <a href="https://www.indigo.ca/en-ca/abc-cantonese-english-comprehensive-dictionary/9780824877323.html">ABC
                    Cantonese-English Dictionary</a>
                is a dictionary published in 2020 that defines and translates many expressions used in Hong Kong.
            </p>
            <p>
                <a href="https://www.pleco.com/">Pleco</a>
                is an app for iPhone and Android that lets you look up several dictionaries on your phone. However, you
                have to activate "Cantonese mode" to see Jyutping.
            </p>
            <h2 class="text-center py-3" style="text-wrap:balance">
                Reading
            </h2>
            <p>
                <a href="https://hambaanglaang.hk/all-levels/">Hambaanglaang</a>, a word in cantonese that means "all of
                it", is a website that hosts hundreds of Cantonese readers with Jyutping. Most also have accompanying
                videos of volunteers reading the texts out loud.
            </p>
            <p>
                <a href="https://kozzi.ca">Kozzi.ca</a> is a Canadian bookseller that specializes in Chinese and
                Hongkongese
                books. If you prefer paper copies of books, this is the site for you! I recommend
                <a
                    href="https://kozzi.ca/products/hambaanglaang-full-collection-8-sets-40-books-%E5%86%9A%E5%94%AA%E5%94%A5%E5%85%A8%E5%A5%97-1-8-40-%E6%9C%AC">
                    Hambaanglaang paper copies
                </a> as well as
                <a
                    href="https://kozzi.ca/products/the-little-prince-in-cantonese-with-jyutping-%E5%B0%8F%E7%8E%8B%E5%AD%90-%E9%A6%99%E6%B8%AF%E7%B2%B5%E6%8B%BC%E7%89%88">
                    The Little Prince in Cantonese
                </a>.
            </p>
            <p>
                For more advanced readers, there is a literary magazine in Written Cantonese,
                <a href="https://www.resonatehk.com/">迴響 Resonate</a>. I quite like their articles.
            </p>
            <p>
                If slang interests you, or you want to read what people write on the Internet, you can join
                Cantonese social networks: <a href="https://m.hkgolden.com/">HKGolden</a> and
                <a href="https://www.discuss.com.hk/">Discuss</a>.
            </p>
            <h2 class="text-center py-3" style="text-wrap:balance">
                Videos
            </h2>
            <p>
                <a href="https://www.youtube.com/@ViuTVWorld">ViuTV</a> uploads many of their TV series
                online on YouTube.
            </p>
            <p>
                <a href="https://tvbanywherena.com/cantonese">TVB</a> is a Hong-Kong based television station
                that broadcasts news, soap operas, etc.
            </p>
            <p>
                Disney dubs most of its movies in Cantonese. You can
                <a href="https://help.disneyplus.com/fr-CA/article/disneyplus-video-language?redirect=false">
                    select the langauge
                </a>
                in the Disney Plus app.
            </p>
            <h2 class="text-center py-3" style="text-wrap:balance">
                Audio, podcasts
            </h2>
            <p>
                <a href="https://www.rthk.hk/radio">RTHK</a>, the Hong Kong state broadcaster, lets you
                listen to their programmes online. It also hosts a few podcasts. I recommend d'État de radiodiffusion, vous permet d'écouter
                <a href="https://podcasts.apple.com/us/podcast/rthk-naked-cantonese/id217743398">Naked Cantonese</a>
                for those who are learning Cantonese, and
                <a
                    href="https://podcasts.apple.com/us/podcast/%E8%AC%9B%E6%9D%B1%E8%AC%9B%E8%A5%BF/id718099226">講東講西</a>
                for those who are at a more advanced level.
            </p>
            <p>
                For those who like linguistics,
                <a
                    href="https://podcasts.apple.com/us/podcast/%E7%B5%AE%E8%A8%80-%E7%8B%82%E6%83%B3-seoijin/id1534765195">
                    絮言．狂想 seoijin
                </a>
                is a podcast that discusses languages, linguistics, etc. entirely in Cantonese!
            </p>
        </div>
    </div>
</div>
{% endblock %}