<div class="d-flex d-md-none flex-column gap-2">
  <div class="input-group flex">
    <input name="search_term_mobile" class="form-control rounded-start" type="text"
      placeholder="Rechercher dans le dictionnaire..." {% block search_term_mobile %}{% endblock %}>
    <button class="input-group-text btn btn-danger flex-shrink-0" type="submit"><i class="bi-search"></i></button>
  </div>
  <select name="search_type_mobile" class="form-select">
    <option value="search_traditional" {% block search_type_traditional_mobile %}{% endblock %}>Caractères
      traditionnels</option>
    <option value="search_simplified" {% block search_type_simplified_mobile %}{% endblock %}>Caractères
      simplifiés</option>
    <option value="search_jyutping" {% block search_type_jyutping_mobile %}{% endblock %}>Jyutping</option>
    <option value="search_pinyin" {% block search_type_pinyin_mobile %}{% endblock %}>Pinyin</option>
    <option value="search_french" {% block search_type_french_mobile %}{% endblock %}>Français</option>
  </select>
</div>