{% macro desktop_input(search_term, search_type='') -%}
<div class="input-group p-0 d-none d-md-flex flex-nowrap">
  <input name="search_term" class="form-control rounded-start py-2 fs-5" style="text-overflow: ellipsis;" type="search"
    placeholder="{{ _('Rechercher dans le dictionnaire...') }}" value="{{ search_term }}" autofocus="autofocus"
    autocomplete="false" autocorrect="false" autocapitalize="false" spellcheck="false">
  <select name="search_type" class="form-select fs-5" style="text-overflow: ellipsis;"
    aria-label="{{ _('Sélection de langue') }}">
    <option value="{{ _('auto') }}" {% if search_type=="{{ _('auto') }}" %}selected{% endif %}>
      {{ _("Détection de langue automatique") }}
    </option>
    <option value="{{ _('traditionnel') }}" {% if search_type=="{{ _('traditionnel') }}" %}selected{% endif %}>
      {{ _("Caractères traditionnels") }}
    </option>
    <option value="{{ _('simplifie') }}" {% if search_type=="{{ _('simplifie') }}" %}selected{% endif %}>
      {{ _("Caractères simplifiés") }}
    </option>
    <option value="{{ _('jyutping') }}" {% if search_type=="{{ _('jyutping') }}" %}selected{% endif %}>
      {{ _("Jyutping") }}
    </option>
    <option value="{{ _('pinyin') }}" {% if search_type=="{{ _('pinyin') }}" %}selected{% endif %}>
      {{ _("Pinyin") }}
    </option>
    <option value="{{ _('fr') }}" {% if search_type=="{{ _('fr') }}" %}selected{% endif %}>
      {{ _("Français") }}
    </option>
  </select>
  <button class="input-group-text btn btn-primary" type="submit">{{ _("Rechercher") }}</button>
</div>
{%- endmacro %}

{% macro mobile_input(search_term, search_type='') -%}
<div class="d-flex d-md-none flex-column gap-2">
  <div class="input-group flex">
    <input name="search_term_mobile" class="form-control rounded-start" style="text-overflow: ellipsis;" type="search"
      placeholder="{{ _('Rechercher dans le dictionnaire...') }}" value="{{ search_term }}" autocomplete="off"
      autocorrect="false" autocapitalize="false" spellcheck="false">
    <button class="input-group-text btn btn-primary flex-shrink-0" type="submit" aria-label="{{ _('Rechercher') }}"><i
        class="bi-search"></i></button>
  </div>
  <select name="search_type_mobile" class="form-select" style="text-overflow: ellipsis;"
    aria-label="{{ _('Sélection de langue') }}">
    <option value="{{ _('auto') }}" {% if search_type=="{{ _('auto') }}" %}selected{% endif %}>
      {{ _("Détection de langue automatique") }}
    </option>
    <option value="{{ _('traditionnel') }}" {% if search_type=="{{ _('traditionnel') }}" %}selected{% endif %}>
      {{ _("Caractères traditionnels") }}
    </option>
    <option value="{{ _('simplifie') }}" {% if search_type=="{{ _('simplifie') }}" %}selected{% endif %}>
      {{ _("Caractères simplifiés") }}
    </option>
    <option value="{{ _('jyutping') }}" {% if search_type=="{{ _('jyutping') }}" %}selected{% endif %}>
      {{ _("Jyutping") }}
    </option>
    <option value="{{ _('pinyin') }}" {% if search_type=="{{ _('pinyin') }}" %}selected{% endif %}>
      {{ _("Pinyin") }}
    </option>
    <option value="{{ _('fr') }}" {% if search_type=="{{ _('fr') }}" %}selected{% endif %}>
      {{ _("Français") }}
    </option>
  </select>
</div>
{%- endmacro %}