@import "../bootstrap/scss/functions";

$input-focus-border-color: none;
$input-btn-focus-box-shadow: none;
$form-select-focus-box-shadow: none;

@import "../bootstrap/scss/variables";

// Set the $primary variable
$primary: rgb(204, 0, 1);
// Merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, ("primary": $primary));

$h5-font-size: $font-size-base * 1.1;
$font-sizes: map-merge($font-sizes, (5: $h5-font-size));

@import "../bootstrap/scss/bootstrap";

// Generate breakpoint-specific width classes
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

@each $breakpoint in map-keys($grid-breakpoints) {
  @each $size, $length in $sizes {
    @include media-breakpoint-up($breakpoint) {
      .w-#{$breakpoint}-#{$size} {
        width: $length !important;
      }
    }
  }
}

// Generate breakpoint-sepcific min vertical heights
// in units of vh
$sizes: (
  10,
  20,
  25,
  30,
  40,
  50,
  60,
  70,
  75,
  80,
  90,
  100,
);

@each $size in $sizes {
  .min-vh-#{$size} {
    min-height: #{$size}vh !important;
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @each $size in $sizes {
    @include media-breakpoint-up($breakpoint) {
      .min-vh-#{$breakpoint}-#{$size} {
        min-height: #{$size}vh !important;
      }
    }
  }
}

.main-navbar {
  background-color: #D03439 !important;
}

img:-moz-loading {
  visibility: hidden;
}